@charset "utf-8";

/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4f;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

#navbar-container {
  z-index: 100;
  position: relative; /* so dropdown menu slides over what's below */
}

.container>.navbar-collapse,
.container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
  height: 60px;
  margin-bottom: 0;
  border-radius: 0 0;
  font-size: 12px;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.navbar-default .navbar-collapse {
  border: none;
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
}

.navbar-brand {
  height: 60px;
  padding: 0 0;
}

.nav {
  text-align: center;
}

.navbar-nav {
  margin: 7px 0;
}

.nav>li>a {
  padding: 0px 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #4d4d4f;
  line-height: 60px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #00679a;
  font-weight: 900;
  background-color: #d7e8ef;
}

.navbar-btn {
  margin-top: 8px;
  margin-right: 7px;
  margin-bottom: 8px;
  margin-left: 15px;
}

.btn {
  padding: 0px 38px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 44px;
  border: none;
  border-radius: 0 0;
}

.btn-primary {
  color: #fff;
  background-color: #e64900;
  border: none;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #b23800;
  border: none;
}



.btn-info {
  color: #e64900;
  background-color: transparent;
  border: 2px solid #e64900;
  line-height:40px;
  padding-left: 21px;
  padding-right: 17px;
}

.btn-info .glyphicon {
  font-size: 18px;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

.btn-info:hover {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}





.navbar-default .navbar-toggle {
  margin: 10px 15px;
  border: none;
  border-radius: 0 0; 
  font-size: 16px;
  color: #4d4d4f;
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: #00679a;
  background-color: #d7e8ef;
}

.col-xs-12 {
  padding-left: 0;
  padding-right: 0;
}

.container .jumbotron {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
  border: none;
  border-radius: 0 0;
  width: 100%;
  text-align: center;
  background: #000 url(../images/hero-bg-1024x390.png) no-repeat;
  background-size: cover;
}

.container .jumbotron h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 900;
}

.container .jumbotron h4 {
  text-align: center;
  color: #ffffff;
  font-weight: normal;
}

@media (max-width: 767px) {
  
  #myNavbar {
    width: 164px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navbar-divider-special {
    margin: 5px 0;
    border: none;
    padding: 0 0;
    width: 164px;
    height: 5px;
    background-image: url(../images/divider-164x5.png);
  }

  .container .jumbotron {
    margin: 0 auto;
    padding: 0 0;
  }
  
  /* Measurements for jumbotron here and in the next section are .64 times measurements of jumbotron for min-width: 1200px, below (768/1200) */
  
  .container .jumbotron h1 {
    margin: 63px auto 0;
    font-size: 26px;
    letter-spacing: 1px;
  }

  .container .jumbotron h4 {
    margin: 4px auto 26px; /* I made an exception here: 3px, calculated margin-top, was too small, particularly with the increase in font-size, below. */
    font-size: 13px; /* I made an exception here: 12px, calculated, was too small to comfortably read. */
    font-weight: 100;
    line-height: 15px;
  }

  .container .jumbotron .btn {
    margin: 0 2px 69px;
  }

}

@media (min-width: 768px) {
  
  .navbar-right {
    margin-right: 0;
  }

  .nav {
    width: auto;
  }
  
  .navbar-nav {
    margin: 0 0;
  }
  
  .nav>li>a {
    padding: 0px 14px;
  }
  
  .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-divider-special {
    margin: 0 6px 0 5px;
    border: none;
    padding: 0 0;
    width: 5px;
    height: 60px;
    background-image: url(../images/divider-5x60.png)
  }
  
  .container .jumbotron {
    margin: 0 auto;
    padding: 0 0;
  }
  
  /* Measurements for jumbotron here are .86 times measurements of jumbotron for min-width: 1200px, below (The "average" viewport size within this range = 880px = (768+992)/2 and 880/1024 = .86) */
  
  .container .jumbotron h1 {
    margin: 84px auto 0;
    font-size: 34px;
    letter-spacing: 2px;
  }

  .container .jumbotron h4 {
    margin: 3px auto 34px;
    font-size: 15px;
    font-weight: 100;
    line-height: 21px;
  }

  .container .jumbotron .btn {
    margin: 0 3px 93px;
  }

}

@media (min-width: 992px) {
  
  .container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Measurements for jumbotron here are .98 times measurements of jumbotron for min-width: 1200px, below (The "average" viewport size within this range = 1008px = (992+1024)/2 and 1008/1024 = .98) */
  
  .container .jumbotron h1 {
    margin: 96px auto 0;
    font-size: 39px;
    letter-spacing: 2px;
  }

  .container .jumbotron h4 {
    margin: 4px auto 39px;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
  }

  .container .jumbotron .btn {
    margin: 0 3px 106px;
  }

}

@media (min-width: 1200px) { /* Best not to fiddle with the standard Bootstrap breakpoints, found in CSS and JS. */
  
  .container {
      width: 1024px; /* = the width of the PSD original; hence, the jumbotron measurements below will be used as standard for proportions, above. */
  }
  
  .container .jumbotron h1 {
    margin: 98px auto 0;
    font-size: 40px;
    letter-spacing: 2px;
  }

  .container .jumbotron h4 {
    margin: 4px auto 40px;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
  }

  .container .jumbotron .btn {
    margin: 0 3px 108px;
  }

}
