@charset "utf-8";

/*
Note: any .css or .scss files included in the 'styles' directory
will be correctly compiled during `gulp serve` and `gulp`
 */

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #4d4d4f;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}

#navbar-container {
  z-index: 100;
  position: relative; /* so dropdown menu slides over what's below */
}

.container>.navbar-collapse,
.container>.navbar-header {
  margin-right: 0;
  margin-left: 0;
}

.navbar {
  height: 60px;
  margin-bottom: 0;
  border-radius: 0 0;
  font-size: 12px;
  font-weight: 600;
}

.navbar-default {
  background-color: #ffffff;
  border: none;
}

.navbar-default .navbar-collapse {
  border: none;
  padding-right: 0;
  padding-left: 0;
  overflow-x: hidden;
}

.navbar-brand {
  height: 60px;
  padding: 0 0;
}

.nav {
  text-align: center;
}

.navbar-nav {
  margin: 7px 0;
}

.nav>li>a {
  padding: 0px 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #4d4d4f;
  line-height: 60px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #00679a;
  font-weight: 700;
  background-color: #d7e8ef;
}

.navbar-btn {
  margin-top: 8px;
  margin-right: 7px;
  margin-bottom: 8px;
  margin-left: 15px;
}

.btn {
  padding: 0px 38px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  border: none;
  border-radius: 0 0;
}

.btn-primary {
  color: #fff;
  background-color: #e64900;
  border: none;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #b23800;
  border: none;
}

.btn-info {
  color: #e64900;
  background-color: transparent;
  border: 2px solid #e64900;
  line-height:40px;
  padding-left: 21px;
  padding-right: 17px;
  font-weight: 600;
}

.btn-info .glyphicon {
  font-size: 18px;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

.btn-info:hover {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #e64900;
  border: 2px solid #ffffff;
}

.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

.navbar-default .navbar-toggle {
  margin: 10px 15px;
  border: none;
  border-radius: 0 0; 
  font-size: 16px;
  color: #4d4d4f;
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  color: #00679a;
  background-color: #d7e8ef;
}

#jumbotron-container {
  z-index: 1; /* The dropdown nav menu drops down over this container. */
  position: relative;
}

.container .jumbotron {
  margin: 0 auto;
  padding: 50px 0;
  border: none;
  border-radius: 0 0;
  width: 100%;
  text-align: center;
  background: #000 url(../images/hero-bg-1024x390.png) no-repeat;
  background-size: cover;
}

.container .jumbotron h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
}

.container .jumbotron h4 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
}

#callouts-container {
  z-index: 1; /* The dropdown nav menu drops down over this container. */
  position: relative;
}

#callouts-row {
  margin-top: -70px; /* The better way would have been to have set a percentage margin, but for margin-top that percentage is calculated from the parent containers width! And the alternative, using position: absolute, to specify top: 50%, takes the row out of the flow of the page and disrupts everything following. Fortunately, this looks good at small and large screen sizes. */
  }

.brand-color-bold {
  color: #00679a;
  font-weight: 800;
}

#leadership-container {
  margin: 0 auto;
  padding: 71px 0 94px;
  border: none;
  border-radius: 0 0;
  width: 100%;
  text-align: center;
}

#leadership-container .label.label-primary {
  padding: 6px 31px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: -1px;
  border: none;
  border-radius: 0 0;
  background-color: #00679a;
}

#leadership-slides-outer-box {
  margin-top: 30px;
  text-align: center;
}

.leadership-slide-box {
  display: inline-block;
  margin: 0 3px 6px;
  padding: 10px 0 10px;
  width: 158px;
  background-color: #f3f3f4;
  opacity: 0.33;
  cursor: pointer;
}

.leadership-slide-box.selected,
.leadership-slide-box:hover,
.leadership-slide-box:focus,
.leadership-slide-box:active {
  opacity: 1.0;
}

.leadership-slide-box img {
  margin-bottom: 6px;
}

.leadership-name {
  font-weight: 700;
}

.leadership-slide-box.selected .leadership-name,
.leadership-slide-box:hover .leadership-name,
.leadership-slide-box:focus .leadership-name,
.leadership-slide-box:active .leadership-name {
  color: #e64900;
}

#leadership-quote-row .col-xs-2 { 
  width: 15%;
}
  
#leadership-quote-row .col-xs-8 { 
  width: 70%;
  margin: 0 0;
  background-color: #f3f3f4;
}

#leadership-play-button {
  cursor: pointer;
  margin: 24px auto;
  border: none;
  outline: 0;
  padding: 0 0;
  width: 41px;
  height: 41px;
  background-color: transparent;
  background-image: url(../images/circle-play-icon-off-41x41.png);
}

#leadership-play-button:hover,
#leadership-play-button:focus,
#leadership-play-button:active {
  background-image: url(../images/circle-play-icon-on-41x41.png);
}

#leadership-quote-text {
  padding: 24px 0 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.leadership-quote-attrib {
  color: #00679a;
}

.modal-dialog {
  max-width: 100%;
}

.modal-header {
  padding: 10px 10px;
}

.modal-body {
  text-align: center;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

#leader-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#culture-container {
  margin: 0 auto;
  padding: 100px 20px 190px;
  border: none;
  border-radius: 0 0;
  width: 100%;
  text-align: center;
  background: #fff url(../images/culture-bg-1024x675.png) no-repeat;
  background-size: cover;
}

#culture-container .label.label-primary {
  padding: 6px 25px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -1px;
  border: none;
  border-radius: 0 0;
  background-color: #00679a;
}

#culture-container h2 {
  padding: 73px 0 0;
  margin: 0 auto;
  text-align: center;
  color: #00679a;
  font-weight: 400;
  font-size: 24px;
}

#culture-container h2 span.naf360-big {
  font-size: 33px;
  color: #00679a;
  font-weight: 500;
}

#culture-container p {
  margin: 17px auto;
  text-align: center;
  color: #231f20;
  font-weight: 600;
  line-height: 1.3;
}

#culture-event-btn.btn.btn-info {
  color: #e64900;
  background-color: transparent;
  border: 2px solid #e64900;
  line-height:40px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 700;
  margin:8px auto 0;
}

#culture-event-btn.btn.btn-info:focus,
#culture-event-btn.btn.btn-info.focus {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

#culture-event-btn.btn.btn-info:hover {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

#culture-event-btn.btn.btn-info:active,
#culture-event-btn.btn.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

#culture-event-btn.btn.btn-info:active:hover,
#culture-event-btn.btn.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
#culture-event-btn.btn.btn-info:active:focus,
#culture-event-btn.btn.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
#culture-event-btn.btn.btn-info:active.focus,
#culture-event-btn.btn.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #fff;
  background-color: #b23800;
  border: 2px solid #ffffff;
}

#legal {
  padding: 25px 25px;
  text-align: left;
  font-size: 11px;
  color: #666666;
  font-weight: 400;
}

#legal a:link,
#legal a:visited {
  font-weight: 800;
  color: #e64900;
  text-decoration: underline;
}

#legal a:hover,
#legal a:focus,
#legal a:active {
  font-weight: 800;
  color: #e64900;
  text-decoration: none;
}

#footer-button {
  text-align: right;
  padding: 30px 30px;
}

#footer-join-button.btn {
  padding: 0px 21px;
  margin: 0 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  border: none;
  border-radius: 0 0;
}

@media (max-width: 767px) {
  
  #myNavbar {
    width: 164px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .navbar-divider-special {
    margin: 5px 0;
    border: none;
    padding: 0 0;
    width: 164px;
    height: 5px;
    background-image: url(../images/divider-164x5.png);
  }

  .container .jumbotron {
    margin: 0 auto;
    padding: 0 0;
  }
  
  /* Measurements for jumbotron here and in the next section are .64 times measurements of jumbotron for min-width: 1200px, below (768/1200) */
  
  .container .jumbotron h1 {
    margin: 63px auto 0;
    font-size: 27px;
    letter-spacing: -1px;
  }

  .container .jumbotron h4 {
    margin: 4px auto 26px; /* I made an exception here: 3px, calculated margin-top, was too small, particularly with the increase in font-size, below. */
    font-size: 13px; /* I made an exception here: 12px, calculated, was too small to comfortably read. */
    line-height: 15px;
  }

  .container .jumbotron .btn {
    margin: 0 2px 69px;
  }

  #callouts-row .col-sm-2 { /* trick to make all boxes equal height and make vertical alignment possible, while not breaking responsive grid. */
   /* margin-bottom: -999999px; /* This other trick didn't work.
    padding-bottom: 999999px; */
    width: 100%;
    margin: 6px 0;
    padding: 18px 18px;
    background-color: #f3f3f4;
    text-align:center;
    font-weight: 600;
  }

  #leadership-quote-text {
    padding: 24px 12px 24px;
  }
  
}

@media (min-width: 768px) {
  
  .navbar-right {
    margin-right: 0;
  }

  .nav {
    width: auto;
  }
  
  .navbar-nav {
    margin: 0 0;
  }
  
  .nav>li>a {
    padding: 0px 14px;
  }
  
  .navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar-divider-special {
    margin: 0 6px 0 5px;
    border: none;
    padding: 0 0;
    width: 5px;
    height: 60px;
    background-image: url(../images/divider-5x60.png)
  }
  
  .container .jumbotron {
    margin: 0 auto;
    padding: 0 0;
  }
  
  /* Measurements for jumbotron here are .86 times measurements of jumbotron for min-width: 1200px, below (The "average" viewport size within this range = 880px = (768+992)/2 and 880/1024 = .86) */
  
  .container .jumbotron h1 {
    margin: 84px auto 0;
    font-size: 36px;
    letter-spacing: -1px;
  }

  .container .jumbotron h4 {
    margin: 3px auto 34px;
    font-size: 15px;
    line-height: 21px;
  }

  .container .jumbotron .btn {
    margin: 0 3px 93px;
  }

  #callouts-row {
    display: table;
    border-collapse: separate;
    border-spacing: 6px;
  }

  #callouts-row .col-sm-2 { /* trick to make all boxes equal height and make vertical alignment possible, while not breaking responsive grid. */
   /* margin-bottom: -999999px;
    padding-bottom: 999999px; */
    display: table-cell;
    float: none;
    vertical-align: middle;
    width: 19%;
    padding: 18px 18px;
    background-color: #f3f3f4;
    text-align:center;
    font-weight: 600;
  }

}

@media (min-width: 992px) {
  
  .container {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Measurements for jumbotron here are .98 times measurements of jumbotron for min-width: 1200px, below (The "average" viewport size within this range = 1008px = (992+1024)/2 and 1008/1024 = .98) */
  
  .container .jumbotron h1 {
    margin: 96px auto 0;
    font-size: 41px;
    letter-spacing: -1px;
  }

  .container .jumbotron h4 {
    margin: 4px auto 39px;
    font-size: 18px;
    line-height: 24px;
  }

  .container .jumbotron .btn {
    margin: 0 3px 106px;
  }
  
}

@media (min-width: 1200px) { /* Best not to fiddle with the standard Bootstrap breakpoints, found in CSS and JS. */
  
  .container {
      width: 1024px; /* = the width of the PSD original; hence, the jumbotron measurements below will be used as standard for proportions, above. */
  }
  
  .container .jumbotron h1 {
    margin: 98px auto 0;
    font-size: 42px;
    letter-spacing: -1px;
  }

  .container .jumbotron h4 {
    margin: 4px auto 40px;
    font-size: 18px;
    line-height: 24px;
  }

  .container .jumbotron .btn {
    margin: 0 3px 108px;
  }

}
